body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url(/images/background.png) repeat;
}

a {
	color: #00B7FF;
}

/*main page start*/
.main {
	text-align: center;
}
.header {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #6f5499;
	text-align: left;
	color: white;
}

.header h1 {
	font-size: 44px;
}

.header h3 {
	font-size: 28px;
}

.header p {
	font-size: 18px;
}

.footer {
	text-align:center;
	font-size: 12px;
	position: static;
	bottom: 0;
}

.search-bar {

}

.search-title {

}

.search-result {
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
	text-align: left;
}

#tagsList {
	height: 300px;
	width: 300px;
	position: relative;
	padding: 10px;
	margin: auto;
}
#tagsList a {
	position: absolute;
	top: 0px;
	left: 0px; 
	font-family:  Microsoft YaHei; 
	color: black; 
	font-weight: bold; 
	text-decoration: none; 
	padding:  3px 6px; 
}
#tagsList a:hover { 
	color: #3a76c5 ;
	letter-spacing: 2px;
}

/*main page end*/


