<div class="header">
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">oh my share</a>
		</div>

		<p class="navbar-text small">苏州大学学习资源分享平台</p>

		<form class="navbar-form pull-right" role="search" action="/search" method="get">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请输入搜索内容" name="query">
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
	</nav>
</div>
</div>
