<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>oh my share</title>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<script src="javascripts/custom.js"></script>
	<script src="javascripts/tags.js"></script>
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/font-awesome.css" rel="stylesheet">
	<link href="stylesheets/buttons.css" rel="stylesheet">
	<link href="stylesheets/custom.css" rel="stylesheet">
	<link href="images/favicon.png" rel="shortcut icon" >
</head>

