<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<div class="header">
			<div class="container">
				<h1>oh my share</h1>
				<h3>苏州大学计科院</h3>
				<p>学习资源分享平台</p>
			</div>
		</div>
		<div class="container">
			<div class="main">
				<h1>Welcome to oh my share</h1>
				<div class="buttons">
					<a href="#" class="button button-circle button-primary">大一</a>
					<a href="#" class="button button-circle button-action">大二</a>
					<a href="#" class="button button-circle button-caution">大三</a>
				</div>
			</div>
		</div>
	</body>
	<% include foot %>
</html>
