<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include header %>
		<div class="container">
			<div class="main">
				<div class="search-title">
					<h3>Welcome to oh my share</h3>
				</div>
				<div id="tagsList">
					<% for(var i in history) {%>
					<a href="/search?query=<%= history[i].query %>"><%= history[i].query %></a>
					<% } %>
				</div>
			</div>
		</div>
	</body>
	<% include foot %>
</html>
